.card {
    position: relative;
    margin: 1rem 0;
    border-radius: 3px;
    border-radius: .2rem;
    border: 1px solid var(--border-light);
    cursor: pointer;
}

.cardBody {
    padding: 1rem;
}

.cardImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0;
}

.cardTitleRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .4rem;
    align-items: flex-start;
    margin-bottom: 1rem;
    height: 6rem;
}

.productName {
    font-size: 1rem;
    margin-bottom: .4rem;
    font-weight: 600;
    color: rgb(46, 46, 46)
}

.productCategory {
    color: rgb(190, 190, 190);
    font-size: 1rem;
    line-height: 1.4;
}

.productPrice {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary);
    display: inline-block;
}



.card-product {
	position: relative;
	transition: all 200ms ease-in-out;
	cursor: pointer;
	max-width: 130px;
	border: 2px solid var(--color-primary);
	display: border-box;
	overflow: hidden;
}

.card-img-container {
	width: 100%;
	overflow: hidden;
}

.responsive-img {
	width: 100%;
	height: 100%;
}

.card-description {
	padding: 0.15rem 0.5rem;
	display: block;
	flex-direction: column;
}

.brand-wishlish-wrapper {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	margin: 0.2rem 0rem;
	padding: 0;
}

.product-name {
	margin: 0px;
	font-size: 1rem;
	font-weight: bold;
	color: var(--color-grey-darkest);
	margin: 0.1rem 0rem;
	text-overflow: clip;
}

.btn-wishlist {
	background-color: white;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	color: var(--color-grey);
	box-shadow:  2px 2px 6px #d9d9d9;
	justify-self: end;
	padding: 0;
	margin: 0;
}
.wished{
	color: var(--color-danger);
}

.btn-wishlist-added {
	background-color: inherit;
	color: var(--color-danger);
	justify-self: end;
	padding: 0;
	margin: 0;
}

.btn-cart-plus {
	background-color: inherit;
	color: var(--color-primary);
	justify-self: end;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
}

.product-brand {
	font-size: 0.8rem;
	color: var(--color-grey);
}

.price {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: start;
	font-size: 1rem;
	margin-top: 0.1rem;
    margin-bottom: 0.1rem ;
}
.discounted-price {
	color: var(--color-primary);
}
.mrp {
	color: var(--color-grey);
	text-decoration: line-through;
	text-decoration-color: var(--color-grey);
}

.stock-warning {
	color: var(--color-warning);
	font-size: 0.65rem;
	margin: 0.2rem 0rem;
}

.card-badge {
	position: absolute;
	left: 0;
	top: 2rem;
	background: var(--color-secondary);
	padding: 0.25rem;
	color: #fff;
	font-size: 0.75rem;
	font-weight: bold;
}

.card-discount-badge {
	position: absolute;
	right: -1.1rem;
	top: 0.9rem;
	text-align: center;
	width: 5rem;
	transform: rotate(45deg);
	background: var(--color-warning);
	padding: 0.1rem;
	color: #fff;
	font-size: 0.7rem;
	font-weight: bold;
}

.btn-addtocart-icon{
    display: block;
}

.btn-addtocart{
    display: none;
    padding: 0.1rem;
    margin: 0;
    font-size: 0.8rem;
}

@media only screen and (min-width: 500px) {
	.btn-addtocart{
        display: block;
    }
    .btn-addtocart-icon{
        display: none;
    }
}